.book-slot {
    /* border: 1px solid red; */
    flex: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 132px;
    width: 88px;
    transition: transform 0.1s ease;
    border-radius: 0px 7px 8px 0px;
}

/* Correct the hover selector to target the whole slot */
.book-slot:hover {
    transform: translateY(-5px);  /* Applies the scaling to the whole slot */
}

.book-slot img {
    flex: 1;
    display: block;
    /* box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.25), 7px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 0px 7px 8px 0px;
    gap: 0px;
    opacity: 0px;  /* Note: This sets images to be invisible unless hovered */
    transition: opacity 0.3s ease;  /* Smooth transition for the opacity */
    height: inherit;
    width: inherit;
}

.book-slot img:hover {
    opacity: 1;
    cursor: grabbing;

}
