.book-detail-page {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    padding-top: calc(2% + 1% + 105px);
    overflow: hidden;
    align-items: center;
}

.book-detail-container {
    border: 1px solid red;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin: 0 auto;
    color: white;
    width: 90%;
}

.book-detail-image {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;

}

.book-detail-image img {
    border: 1px solid blueviolet;
    object-fit: cover;
    border-radius: 10px;
    width: 381px;
    height: 578px;
    gap: 0px;
    border-radius: 0px 40px 40px 0px;

    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.25), 7px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.book-row-base-full{
    width: 546px;
    height: 29px;
    top: 488px;
    left: 111px;
    gap: 0px;
    border-radius: 7px;
    background: linear-gradient(90deg, #78B3B5 0%, #8BC9CB 45%, #78B3B5 100%);
    box-shadow: 0px 4px 6px 0px rgba(255, 250, 250, 0.6) inset, 
                0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset,
                -2px 15px 20px 5px rgba(0, 0, 0, 0.1);
}

.book-detail-info {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 15%;
    gap: 20px;
}

.book-title {
    font-family: Malayalam MN;
    font-size: 64px;
    font-weight: 400;
    line-height: 91.16px;
    text-align: left;
    color: rgba(250, 237, 221, 1);
    width: fit-content;
    gap: 20px;
}

.book-author {
    color: #E5C99F;
    font-family: Malayalam MN;
    font-size: 36px;
    font-weight: 400;
    line-height: 51.28px;
    text-align: left;

    width: fit-content;
}

.book-detail-rating {
    font-size: 1rem;
    margin-bottom: 10px;
    width: fit-content;
}

.book-description {
    max-width: 800px;
    height: fit-content;

    font-family: Malayalam MN;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.49px;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: rgba(250, 237, 221, 1);


}

.book-detail-actions {
    display: flex;
    gap: 10px;
}

.book-detail-actions button {
    background-color: #666;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-detail-actions button:hover {
    background-color: #444;
}

.shelves-icon {
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 10px;
}

.shelves-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 90%;
    background-color: rgba(105, 157, 159, 1);
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 150px;
    font-size: 14px;
}

.shelf-item {
    flex: 1;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.shelf-item p{
    align-self: center;
    flex: 1;
    font-family: Malayalam MN;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.49px;
    color: rgba(250, 237, 221, 1);
    
}

.shelf-item:last-child {
    border-bottom: none;
}

.shelf-item:hover {
    background-color: rgb(2, 78, 81);
}

.shelf-item.bookInShelf {
    background-color: rgb(2, 78, 81);
}