.feature-card {
    width: 300px;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    overflow:hidden;
}

.illustration-box {
    height: 150px;
    background-color: var(--alt-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
}

.manage-shelves {
    background-image: url("../../public/genres_illust-min.png");
}

.personalized-recommendations {
    background-image: url("../../public/genres_illust-min.png");
}

.explore-bestsellers {
    background-image: url("../../public/genres_illust-min.png");
}

.rate-review-books {
    background-image: url("../../public/genres_illust-min.png");
}

.discover-new-authors {
    background-image: url("../../public/genres_illust-min.png");
}

.feature-description-box {
    padding: 20px;
}

.feature-description {
    font-size: 16px;
    color: var(--body-text-color);
}

h2 {
    color: var(--title-text-color);
    transition: color 0.3s ease;
}