body, html, #root {
    background: rgba(120, 179, 181, 1);
    font-family: kai;
    display: flex;
    flex-direction: column;
    height: 100vh; /* This sets the height to be exactly the viewport height */
    width: 100vw; /* This sets the width to be exactly the viewport width */
    box-sizing: border-box; /* This ensures padding does not affect the overall dimensions */
    min-height: 100vh;
}

.pages {
    margin: 0;
    padding: 0;
    flex: 1;
}

.home {
    /* border: 0.5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    padding-top: calc(2% + 1% + 105px);
}
