.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #814d40; /* Adjust the background color */
}

.form-container {
    background-color: #84746E; /* Adjust the form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.login-form button {
    background-color: #5A4C49; /* Adjust the button color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #4A3C39; /* Darker shade for hover */
}

.login-link {
    margin-top: 10px;
    text-align: center;
}

.login-link a {
    color: #D3C1BC; /* Adjust the link color */
}
