.login-page-container {
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url("../../public/genres_illust-min.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: left;
}

.company-logo{
    /* border: 1px solid red; */
}