.mca {
    /* border: 1px solid white; */
    /* overflow: hidden; */
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
    box-sizing: border-box;
    width: 100vw;
    padding: 20px;
    /* margin-top: 155px; */
}

.user-info-section {
    /* display: flex; */
    /* border: 1px solid white; */
    padding: 100px;
    height: 100vh;
  }