.mca {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 150px;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;
}

.user-info-section {
    /* border: 1px solid white; */
    padding: 100px;
    height: 100vh;
  }