.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  margin-right: 4px;
  cursor: pointer;
  font-size: 30px;
}

.rating > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg,
.rating > input:hover ~ label > svg {
  fill: #ffa723;
}

.rating > label:hover ~ label > svg,
.rating > label:hover > svg {
  fill: #ff9e0b;
}

.rating > label:hover > .tooltip,
.rating > input:hover > .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  display: none;
}

.rating > label:hover > .tooltip,
.rating > label:hover ~ label > .tooltip {
  display: block;
}

.rating > input:hover ~ label > .tooltip,
.rating > input:checked ~ label > .tooltip {
  display: none;
}
