body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #32281D; /* Set the desired background color */
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-content {
    flex: 1;
}

.navbar {
    background-color: transparent;
    color: white;
    padding: 58px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

.company-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 200px; /* Adjust maximum width as needed */
    padding-right: 10px; /* Add padding to prevent it sticking to the edge */
    box-sizing: border-box;
    color:white;
}
.company-logo a {
    color: inherit; /* Inherits the parent element's text color */
    text-decoration: none; /* Removes the underline */
}

.company-logo a:visited {
    color: inherit; /* Keeps the color the same for visited links */
    text-decoration: none; /* Keeps the underline removed for visited links */
}


.search-bar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

/*#32281D*/
.right-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 200px; /* Adjust maximum width as needed */
    padding-left: 10px; /* Add padding to prevent it sticking to the edge */
    box-sizing: border-box;
    color:white;
}

.right-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.search-form {
    display: flex;
    align-items: center;
    width:100%;
    position: relative;
}

/* Ensure inputs and buttons are not expanding beyond expected */
.search-form input {
    height: 30px; /* Example height, adjust as needed */
    padding: 0 10px;
    width: 100%;
}



/****************** DROPDOWN ******************/

.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.dropdown-list li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover; /* This will ensure images are nicely fitted */
}

.dropdown-list li span {
    flex-grow: 1;
}

.search-bar-container {
    position: relative;
    width: 100%;
}

.search-results-dropdown {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin-top: 2px;
    color: #333; 
}

.search-results-dropdown li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.search-results-dropdown li:hover {
    background-color: #f8f8f8;
}
